<h1 class="text-center">Converter</h1>

<%= form_tag('/convert', method: 'post', remote: true) do%>
  <section class="select-block text-center">
    <%= select_tag :current,
                   currency_names.html_safe,
                   class: 'select-tag',
                   required: '',
                   id: 'currentCurrency' %>
    <%= select_tag :wanted,
                   currency_names.html_safe,
                   class: 'select-tag',
                   required: '',
                   id: 'wantedCurrency' %>
  </section>

  <section class="inputs-block text-center">
    <%= number_field_tag :changeCurrency, '',
                         step: '0.01',
                         required: '',
                         class: 'form-control'%>
    <%= text_field_tag :resultCurrency, '', class: 'form-control', disabled: true %>
  </section>

  <section class="actions-group text-center">
    <%= submit_tag 'Calculate', class: 'btn btn-default btn-lg', remote: true %>
  </section>
<% end %>
